header{
	position:relative;
}
header figure{
	display:inline-block;
}
nav{
	display:inline-block;
	position: absolute;
	right:0;
	margin-right:20px;
	margin-top:20px;
}
nav li{
	display:inline-block;
	margin-left: 15px;
}
header figure img{
	width:100px;
}
body{
	position:relative;
}
#proyectos .proyecto{
	border:1px solid green;
	border-radius: 20px;
	height:350px;
	width:80%;
	margin:auto;
	margin-bottom: 15px;
	position:relative;
}
#proyectos .uno figure{
	display:inline-block;
}
#proyectos .uno div{
	display:inline-block;
	position:absolute;
	width:60%;
}
#proyectos .dos figure{
	display:inline-block;
	position:absolute;
	right:0;
}
#proyectos .dos div{
	display:inline-block;
	position:absolute;
	left:20px;
	width:60%;
}
#proyectos .tres{
	margin-left: 125px;
	display:inline-block;
	width:39%;
	height:600px;
}
#proyectos .tres div{
	margin-left:15px;
}
#proyectos .cuatro{
	display:inline-block;
	width:39%;
	height:600px;
	margin-left:20px;
}
#proyectos .cuatro div{
	margin-left:15px;
}
#categorias{
	position:relative;
	height: 200px;
}
#categorias #categoria1{
	display:inline-block;
	margin-left: 20px;
}
#categorias #categoria2{
	display:inline-block;
	margin-right: 20px;
	position:absolute;
	right:0;
}
footer{
	margin-top: 20px;
	height: 100px;
	position:relative;
	background-color: grey;
}
footer img{
	display:inline-block;
	position:absolute;
	right:0;
	width:100px;
}
footer form{
	display:inline-block;
	position:absolute;
	bottom:0;
}